<!DOCTYPE html> 
<html lang="en" dir="ltr"> 
  
<head> 
  <meta charset="utf-8"> 
  <title>chatsjs</title> 
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
  
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 
  
  <script> 
    var endpoint = '/api'; 
  
    $.ajax({ 
      method: "GET", 
      url: endpoint, 
      success: function(data) { 
        
      }, 
      error: function(error_data) { 
        console.log(error_data); 
      } 
    }) 
  

  </script> 
</head> 
<body class="container-fluid"> 
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Team Elit</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="#">Diagnose</a></li>
        <li><a href="/predict">Predict</a></li>
        <li><a href="/aboutus">About Us</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h1>Why</h1>
    
  </div>
</body> 
</html> 